body {
  background-color: #F8F8F8;
}

* {
  box-sizing:border-box;
}

.letterA {
  color: #ff7f50;
}

.letterN {
  color: #00ced1;
}

.letterI {
  color: #ffa500;
}

.letterM {
  color: #ff6666;
}

.letterT {
  color: #660066;
}

.letterO {
  color: #008000;
}

.letterS {
  color: #ffc0cb;
}

h1  {
  font-size: 50px;
  text-align: center;
}

.firstDiv {
  height: 50px;
  background-color: green;
  text-align: left;
  color: white;
  padding: 30px;
}

.firstDiv:hover {
  height: 100px;
}

.secondDivText {
  border: 5px dashed gold;
  padding: 30px;
  text-align: left;
  font-size: 16px;
}

.secondDivText:hover {
  font-size: 36px;
}

.thirdDiv {
  width: 50px;
  height:50px;
  border-radius: 50px;
  display: inline-block;
  float: left;
  margin: 0px 50px 0px 50px;
}

.circle1 {
  background-color: #191654;
}

.circle1:hover {
  background-color: #43C6AC;
  width: 100px;
  height: 100px;
}

.circle2 {
  background-color: #8360c3;
}

.circle2:hover {
  background-color: #2ebf91;
  width: 100px;
  height: 100px;
}

.circle3 {
  background-color: #E94057;
}

.circle3:hover {
  background-color: #F27121;
  width: 100px;
  height: 100px;
}

h3 {
  clear: left;
  margin-top: 30px;
  display: block;
}

.sectionTitle {
  padding-top: 30px;
}

.fourthDiv {
  width: 200px;
  height: 100px;
  text-align: center;
  color: #F8F8F8;
  padding-top: 30px;
  border: 1px solid #007991;
}

.fourthDiv:hover {
  background-color: #007991;
  width: 250px;
  height: 150px;
  color: #fff;
}

.fifthDiv {
  width: 200px;
  height: 100px;
  background-color: #FFE000;
}

.fifthDiv:hover {
  -ms-transform: translate(100px,0px); /* IE 9 */
  -webkit-transform: translate(100px,0px); /* Safari */
  transform: translate(100px,0px); /* Standard syntax */
}

.sixthDiv {
  width: 100px;
  height: 100px;
  background-color: #FF4B2B;
}

.sixthDiv:hover {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

.seventhDivText {
  padding: 20px;
  background-color: #45a247;
  color: white;
  width: 150px;
  height: 150px;
  text-align: center;
}

.seventhDivText:hover {
  -webkit-transform: rotateY(150deg); /* Safari */
  transform: rotateY(150deg); /* Standard syntax */
}


.secondDivText, .firstDiv, .circle1, .circle2, .circle3, .fourthDiv, .fifthDiv, .sixthDiv, .seventhDivText {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}
